
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Richard Vaughan
# Date: 1 December 2004

# CVS: $Id: simple.cfg,v 1.35 2008-01-15 01:25:42 rtv Exp $


# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "simple.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "ranger:0" "ranger:1" ]
  model "r0" 
)
driver
(
 name "rangertolaser"
 requires ["ranger:1"]
 provides ["laser:0"]
)
driver
(
 name "mricp"
 provides ["position2d:1" "map:0"]
 requires ["position2d:0" "laser:0"]
 number_of_lasers 1
 laser0_ranges [-90 90]
 playerv_debug 0
 period 0.2
 MAXR 5
 MINR 0.05
 gate1 0.5
 gate2 0.6
 #map_resolution 0.05
 map_resolution 0.032
 map_saving_period 10
 map_size 20
 use_max_range 1
 sparse_scans_rate 1
 #interpolate 0

 map_path "logs/"
 debug 0
 alwayson 0
 log 1
 use_odom 1
)
driver
(
  name "mapfile"
  provides ["map:1"]
  filename "/Users/sebastian/robotdev/worlds/bitmaps/cave.png"
  resolution 0.032 # meters per pixel
  origin [-8 -8 ] # real-world location of the bottom-left-hand corner of the map
)
