# Player driver configuration for a Pioneer-2DX robot
# 2011-07-04 Sebastian Rockel

driver
(
  name "p2os"
  provides ["odometry:::position2d:0" "sonar:0" "power:0" "gripper:::gripper:0" "lift:::actarray:0" "dio:0" "audio:0"]
  gripper_outersize [0.5 0.5 0.5]
  gripper_innersize [0.4 0.4 0.4]
  
  #port "/dev/ttyS0"
  port "/dev/tty.usbserial"
  #port "/dev/tty.usbserial-A600beZR"
)

driver
( 
  name "hokuyo_aist"
  provides ["ranger:1"]
  #portopts "type=serial,device=/dev/ttyACM0,timeout=1,debug=0,baud=115200"
  portopts "type=serial,device=/dev/tty.usbmodem411,timeout=1,baud=115200"
  #baud_rate 115200
  pose [ 0.13 0 0 0 0 0 ]
  #min_angle -2.0
  #max_angle 2.0 # Will be adjusted to laser range if exceeds
  #verbose 1
  #ignoreunknowns true
  min_dist 0.02
  error_dist 5.6 # if range < min_dist, range is set to this value
  #get_intensities true
  #high_sensitivity 1
)   

#driver
#(
  #name "sonartoranger"
  #requires [ "sonar:0" ]
  #provides [ "ranger:0" ]
#)

driver
(
  name "rangertolaser"
  requires [ "ranger:1" ]
  provides [ "laser:0" ]
)

#driver
#(
# name "mricp"
# provides ["position2d:3" "map:1"]
# requires ["position2d:0" "laser:0"]
#
# number_of_lasers 1
# laser0_ranges [-114 114]
# playerv_debug 0
# period 0.1
# MAXR 60.0
# MINR 0.1
# gate1 0.5
# gate2 0.1
# use_max_range 1
#
# map_resolution 0.03
# map_saving_period 30
# map_size 20
# map_path "logs/"
#
# sparse_scans_rate 2
# debug 0
# alwayson 0
# log 1
# use_odom 1
#
# #interpolate 0
#)

driver
(
  name "mapfile"
  provides ["map:0"]
  filename "bitmaps/tams_compl_red_map.png"
  resolution 0.05 # meters per pixel
  origin [-31.475 -7.8 ] # real-world location of the bottom-left-hand corner of the map
)

#driver
#(
  #name "gripcmd"
  #provides ["opaque:0"]
  #requires ["gripper:0"]
  ##cmd "open"
  #alwayson 1
#)
