driver
(
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"
  # load the named file into the simulator
  worldfile "scale.world"
)

driver ( name "stage" provides [ "position2d:0"  "ranger:0"  ] model "r0")
driver ( name "stage" provides [ "position2d:1"  "ranger:1"  ] model "r1")
driver ( name "stage" provides [ "position2d:2"  "ranger:2"  ] model "r2")
driver ( name "stage" provides [ "position2d:3"  "ranger:3"  ] model "r3")
driver ( name "stage" provides [ "position2d:4"  "ranger:4"  ] model "r4")
driver ( name "stage" provides [ "position2d:5"  "ranger:5"  ] model "r5")
driver ( name "stage" provides [ "position2d:6"  "ranger:6"  ] model "r6")
driver ( name "stage" provides [ "position2d:7"  "ranger:7"  ] model "r7")
driver ( name "stage" provides [ "position2d:8"  "ranger:8"  ] model "r8")
driver ( name "stage" provides [ "position2d:9"  "ranger:9"  ] model "r9")
driver ( name "stage" provides [ "position2d:10" "ranger:10" ] model "r10")
driver ( name "stage" provides [ "position2d:11" "ranger:11" ] model "r11")
driver ( name "stage" provides [ "position2d:12" "ranger:12" ] model "r12")
driver ( name "stage" provides [ "position2d:13" "ranger:13" ] model "r13")
driver ( name "stage" provides [ "position2d:14" "ranger:14" ] model "r14")
driver ( name "stage" provides [ "position2d:15" "ranger:15" ] model "r15")
driver ( name "stage" provides [ "position2d:16" "ranger:16" ] model "r16")
driver ( name "stage" provides [ "position2d:17" "ranger:17" ] model "r17")
driver ( name "stage" provides [ "position2d:18" "ranger:18" ] model "r18")
driver ( name "stage" provides [ "position2d:19" "ranger:19" ] model "r19")
driver ( name "stage" provides [ "position2d:20" "ranger:20" ] model "r20")
driver ( name "stage" provides [ "position2d:21" "ranger:21" ] model "r21")
driver ( name "stage" provides [ "position2d:22" "ranger:22" ] model "r22")
driver ( name "stage" provides [ "position2d:23" "ranger:23" ] model "r23")
driver ( name "stage" provides [ "position2d:24" "ranger:24" ] model "r24")
driver ( name "stage" provides [ "position2d:25" "ranger:25" ] model "r25")
driver ( name "stage" provides [ "position2d:26" "ranger:26" ] model "r26")
driver ( name "stage" provides [ "position2d:27" "ranger:27" ] model "r27")
driver ( name "stage" provides [ "position2d:28" "ranger:28" ] model "r28")
driver ( name "stage" provides [ "position2d:29" "ranger:29" ] model "r29")
driver ( name "stage" provides [ "position2d:30" "ranger:30" ] model "r30")
driver ( name "stage" provides [ "position2d:31" "ranger:31" ] model "r31")
driver ( name "stage" provides [ "position2d:32" "ranger:32" ] model "r32")
driver ( name "stage" provides [ "position2d:33" "ranger:33" ] model "r33")
driver ( name "stage" provides [ "position2d:34" "ranger:34" ] model "r34")
driver ( name "stage" provides [ "position2d:35" "ranger:35" ] model "r35")
driver ( name "stage" provides [ "position2d:36" "ranger:36" ] model "r36")
driver ( name "stage" provides [ "position2d:37" "ranger:37" ] model "r37")
driver ( name "stage" provides [ "position2d:38" "ranger:38" ] model "r38")
driver ( name "stage" provides [ "position2d:39" "ranger:39" ] model "r39")
driver ( name "stage" provides [ "position2d:40" "ranger:40" ] model "r40")
driver ( name "stage" provides [ "position2d:41" "ranger:41" ] model "r41")
driver ( name "stage" provides [ "position2d:42" "ranger:42" ] model "r42")
driver ( name "stage" provides [ "position2d:43" "ranger:43" ] model "r43")
driver ( name "stage" provides [ "position2d:44" "ranger:44" ] model "r44")
driver ( name "stage" provides [ "position2d:45" "ranger:45" ] model "r45")
driver ( name "stage" provides [ "position2d:46" "ranger:46" ] model "r46")
driver ( name "stage" provides [ "position2d:47" "ranger:47" ] model "r47")
driver ( name "stage" provides [ "position2d:48" "ranger:48" ] model "r48")
driver ( name "stage" provides [ "position2d:49" "ranger:49" ] model "r49")
driver ( name "stage" provides [ "position2d:50" "ranger:50" ] model "r50")
driver ( name "stage" provides [ "position2d:51" "ranger:51" ] model "r51")
driver ( name "stage" provides [ "position2d:52" "ranger:52" ] model "r52")
driver ( name "stage" provides [ "position2d:53" "ranger:53" ] model "r53")
driver ( name "stage" provides [ "position2d:54" "ranger:54" ] model "r54")
driver ( name "stage" provides [ "position2d:55" "ranger:55" ] model "r55")
driver ( name "stage" provides [ "position2d:56" "ranger:56" ] model "r56")
driver ( name "stage" provides [ "position2d:57" "ranger:57" ] model "r57")
driver ( name "stage" provides [ "position2d:58" "ranger:58" ] model "r58")
driver ( name "stage" provides [ "position2d:59" "ranger:59" ] model "r59")
driver ( name "stage" provides [ "position2d:60" "ranger:60" ] model "r60")
driver ( name "stage" provides [ "position2d:61" "ranger:61" ] model "r61")
driver ( name "stage" provides [ "position2d:62" "ranger:62" ] model "r62")
driver ( name "stage" provides [ "position2d:63" "ranger:63" ] model "r63")
driver ( name "stage" provides [ "position2d:64" "ranger:64" ] model "r64")
driver ( name "stage" provides [ "position2d:65" "ranger:65" ] model "r65")
driver ( name "stage" provides [ "position2d:66" "ranger:66" ] model "r66")
driver ( name "stage" provides [ "position2d:67" "ranger:67" ] model "r67")
driver ( name "stage" provides [ "position2d:68" "ranger:68" ] model "r68")
driver ( name "stage" provides [ "position2d:69" "ranger:69" ] model "r69")
driver ( name "stage" provides [ "position2d:70" "ranger:70" ] model "r70")
driver ( name "stage" provides [ "position2d:71" "ranger:71" ] model "r71")
driver ( name "stage" provides [ "position2d:72" "ranger:72" ] model "r72")
driver ( name "stage" provides [ "position2d:73" "ranger:73" ] model "r73")
driver ( name "stage" provides [ "position2d:74" "ranger:74" ] model "r74")
driver ( name "stage" provides [ "position2d:75" "ranger:75" ] model "r75")
driver ( name "stage" provides [ "position2d:76" "ranger:76" ] model "r76")
driver ( name "stage" provides [ "position2d:77" "ranger:77" ] model "r77")
driver ( name "stage" provides [ "position2d:78" "ranger:78" ] model "r78")
driver ( name "stage" provides [ "position2d:79" "ranger:79" ] model "r79")
driver ( name "stage" provides [ "position2d:80" "ranger:80" ] model "r80")
driver ( name "stage" provides [ "position2d:81" "ranger:81" ] model "r81")
driver ( name "stage" provides [ "position2d:82" "ranger:82" ] model "r82")
driver ( name "stage" provides [ "position2d:83" "ranger:83" ] model "r83")
driver ( name "stage" provides [ "position2d:84" "ranger:84" ] model "r84")
driver ( name "stage" provides [ "position2d:85" "ranger:85" ] model "r85")
driver ( name "stage" provides [ "position2d:86" "ranger:86" ] model "r86")
driver ( name "stage" provides [ "position2d:87" "ranger:87" ] model "r87")
driver ( name "stage" provides [ "position2d:88" "ranger:88" ] model "r88")
driver ( name "stage" provides [ "position2d:89" "ranger:89" ] model "r89")
driver ( name "stage" provides [ "position2d:90" "ranger:90" ] model "r90")
driver ( name "stage" provides [ "position2d:91" "ranger:91" ] model "r91")
driver ( name "stage" provides [ "position2d:92" "ranger:92" ] model "r92")
driver ( name "stage" provides [ "position2d:93" "ranger:93" ] model "r93")
driver ( name "stage" provides [ "position2d:94" "ranger:94" ] model "r94")
driver ( name "stage" provides [ "position2d:95" "ranger:95" ] model "r95")
driver ( name "stage" provides [ "position2d:96" "ranger:96" ] model "r96")
driver ( name "stage" provides [ "position2d:97" "ranger:97" ] model "r97")
driver ( name "stage" provides [ "position2d:98" "ranger:98" ] model "r98")
driver ( name "stage" provides [ "position2d:99" "ranger:99" ] model "r99")
