driver
(
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"
  # load the named file into the simulator
  worldfile "uhh.world"
)

driver
(
  name "stage"
  provides ["position2d:0" "ranger:0" "blobfinder:0"]
  model "r0"
)

driver
(
  name "stage"
  provides ["6667:position2d:0" "6667:ranger:0" "6667:ranger:1" "6667:gripper:0"]
  model "r1"
)

# laser device still needed for vfh and acml driver
driver
(
 name "rangertolaser"
 requires ["6667:ranger:1"]
 provides ["6667:laser:0"]
)
