driver
(
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"
  # load the named file into the simulator
  worldfile "uhh1.world"
)

driver
(
  name "stage"
  provides ["position2d:0" "ranger:0" "blobfinder:0"]
  model "r0"
)

driver
(
  name "stage"
  provides ["6667:position2d:0" "6667:ranger:0" "6667:ranger:1" "6667:gripper:0"]
  model "r1"
)

# laser device still needed for vfh and acml driver
driver
(
 name "rangertolaser"
 requires ["6667:ranger:1"]
 provides ["6667:laser:0"]
)
driver
(
 name "mricp"
 provides ["position2d:1" "map:0"]
 requires ["6667:position2d:0" "6667:laser:0"]

 number_of_lasers 1
 laser0_ranges [-120 120]
 playerv_debug 0
 period 0.2
 MAXR 5.6
 MINR 0.05
 gate1 0.5
 gate2 0.6
 use_max_range 1

 map_resolution 0.05
 map_saving_period 2
 map_size 50
 map_path "logs/"

 sparse_scans_rate 2
 debug 0
 alwayson 0
 log 1
 use_odom 1

 interpolate 0
)

